**/secrets.yaml
terraform/.terraform/environment
terraform/.terraform/terraform.tfstate
terraform/.terraform/modules/modules.json
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.83.2/darwin_arm64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.83.2/darwin_arm64/LICENSE
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.83.2/darwin_arm64/README.md
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.83.2/darwin_arm64/terraform-provider-proxmox_v0.83.2
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.84.0/darwin_arm64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.84.0/darwin_arm64/LICENSE
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.84.0/darwin_arm64/README.md
terraform/.terraform/providers/registry.terraform.io/bpg/proxmox/0.84.0/darwin_arm64/terraform-provider-proxmox_v0.84.0
terraform/.terraform/providers/registry.terraform.io/hashicorp/vault/5.3.0/darwin_arm64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/vault/5.3.0/darwin_arm64/terraform-provider-vault_v5.3.0_x5
terraform/.terraform/providers/registry.terraform.io/telmate/proxmox/2.9.14/darwin_arm64/LICENSE
terraform/.terraform/providers/registry.terraform.io/telmate/proxmox/2.9.14/darwin_arm64/README.md
terraform/.terraform/providers/registry.terraform.io/telmate/proxmox/2.9.14/darwin_arm64/terraform-provider-proxmox_v2.9.14
terraform/s3.json
terraform/terraform.tfstate
terraform/.DS_Store
terraform/.terraform.lock.hcl
.DS_Store
