cluster:
  allowSchedulingOnControlPlanes: true
machine:
    registries:
        config:
            ${environment_name}.${root_domain}:
                tls:
                    insecureSkipVerify: %{ if environment_name == "dev" }true%{ else }false%{ endif }