machine:
  install:
    disk: ${install_disk}
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        addresses:
          - ${ip4_address}/24
        routes:
          - network: 0.0.0.0/0
            gateway: ${ip4_gateway}
